.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #050305, 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.5), -1.8em -1.8em 0 0em rgba(5,3,5, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.7), 1.8em -1.8em 0 0em #050305, 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.5), 1.8em -1.8em 0 0em rgba(5,3,5, 0.7), 2.5em 0em 0 0em #050305, 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.5), 2.5em 0em 0 0em rgba(5,3,5, 0.7), 1.75em 1.75em 0 0em #050305, 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.5), 1.75em 1.75em 0 0em rgba(5,3,5, 0.7), 0em 2.5em 0 0em #050305, -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.5), 0em 2.5em 0 0em rgba(5,3,5, 0.7), -1.8em 1.8em 0 0em #050305, -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.5), -1.8em 1.8em 0 0em rgba(5,3,5, 0.7), -2.6em 0em 0 0em #050305, -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.5), -2.6em 0em 0 0em rgba(5,3,5, 0.7), -1.8em -1.8em 0 0em #050305;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #050305, 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.5), -1.8em -1.8em 0 0em rgba(5,3,5, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.7), 1.8em -1.8em 0 0em #050305, 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.5), 1.8em -1.8em 0 0em rgba(5,3,5, 0.7), 2.5em 0em 0 0em #050305, 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.5), 2.5em 0em 0 0em rgba(5,3,5, 0.7), 1.75em 1.75em 0 0em #050305, 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.5), 1.75em 1.75em 0 0em rgba(5,3,5, 0.7), 0em 2.5em 0 0em #050305, -1.8em 1.8em 0 0em rgba(5,3,5, 0.2), -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.5), 0em 2.5em 0 0em rgba(5,3,5, 0.7), -1.8em 1.8em 0 0em #050305, -2.6em 0em 0 0em rgba(5,3,5, 0.2), -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.5), -1.8em 1.8em 0 0em rgba(5,3,5, 0.7), -2.6em 0em 0 0em #050305, -1.8em -1.8em 0 0em rgba(5,3,5, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(5,3,5, 0.2), 1.8em -1.8em 0 0em rgba(5,3,5, 0.2), 2.5em 0em 0 0em rgba(5,3,5, 0.2), 1.75em 1.75em 0 0em rgba(5,3,5, 0.2), 0em 2.5em 0 0em rgba(5,3,5, 0.2), -1.8em 1.8em 0 0em rgba(5,3,5, 0.5), -2.6em 0em 0 0em rgba(5,3,5, 0.7), -1.8em -1.8em 0 0em #050305;
  }
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.header {
  height: auto;
}

.main-container {
  margin-top: 2vh;
  padding-bottom: 2vh;
}

#video-container {
  display: none;
}

#fail-container {
  display: none;
}

#mjpeg-container {
  display: none;
}

#fullscreen-info-1 {
  display: none;
  margin-top: 1vh;
}

#fullscreen-info-2 {
  display: none;
  margin-top: 1vh;
}

#footer {
  margin-top: auto;
  width: 100%;
  height: 4em;
  line-height: 4em;
  background-color: #343a40!important;
  font-weight: 420;
  color: #fff;
}

.indicator {
  color: white;
  margin-top: 10%;
  font-size: 80%;
  display: none;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
